.wrapper-greating {
   display: flex;
}
.greating-bloc {
   background-color: rgb(0, 255, 106);
   background: no-repeat 100% url('../images/heroimg.svg') rgb(0, 255, 106);
   width: calc(100% - 370px);
   height: calc(100vh - 120px);
   float: left;
}

.log-bloc {
   position: relative;
   background-color: rgb(0, 255, 106);
   width: 380px;
   float: right;
}
.contaiter-logReg {
   width: calc(100% - 30px);
   margin: 0 auto;
}
.reg-log-form {
   width: 350px;
   height: 270px;
   padding-top: 20px;
   border-radius: 10px;
   backface-visibility: hidden;
   text-align: center;
   background-color: rgb(45, 46, 45);
   transition: 1s;
   transform-style: preserve-3d;
   form {
      position: relative;
   }

   .text {
      color: white;
      font-size: 22px;
      margin-bottom: 20px;
   }
   .user-field {
      width: 80%;
      height: 40px;
      margin: 5px 0;
      padding: 0 10px;
      background-color: rgb(24, 24, 24);
      border: none;
      outline: none;
      color: white;
      font-size: 20px;
      border-radius: 5px;
      border: 1px solid transparent;
   }
   .user-field::placeholder {
      color: rgb(158, 157, 157);
   }
   .button {
      width: 30%;
      height: 30px;
      background-color: rgb(0, 255, 106);
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 20px;
   }
}
.login-bloc {
   position: absolute;
}
.register-bloc {
   transform: rotateY(180deg);
}
.btn {
   width: 150px;
   height: 60px;
   margin: 30px auto;
   cursor: pointer;
   .text {
      display: flex;
      justify-content: space-around;
      p {
         font-size: 22px;
         color: black;
      }
   }
   .line {
      margin: 10px auto;
      width: 70px;
      height: 12px;
      background-color: rgb(0, 0, 0);
      border-radius: 20px;
   }
   .circle {
      width: 30px;
      height: 30px;
      position: relative;
      top: -8px;
      background-color: rgb(2, 247, 227);
      border-radius: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      transition: 1s;
      border: 2px solid black;
      //  background: url(../arrow.svg) no-repeat center center red;
      img {
         width: 70%;
         height: 70%;
         transform: rotate(230deg);
         transition: 1s;
      }
   }
}
