<%- include ('layout/header.ejs') %>

<div class="wrapper-card">
   <p class="card-log">Your notices list</p>

   <span class="error" id="error"></span>
   <div class="card-block">
      <div class="card-flex">
         <% if(typeof cards != 'undefined'){ for(const i of cards){ %>
         <div class="item-card item">
            <a href="./table?table=<%= i.name %>" class="link"><%= i.name %></a>
         </div>
         <% }}%>
         <div class="add-block item" id='add'>
            <div class="add-item" id="add-item">
               <p class="text">New table</p>
               <div class="plus"></div>
            </div>
            <div class="create-block item" id="add-block">
               <form method="post" onsubmit="return test();">
                  <p>Table name</p>
                  <div class="close" id="close"></div>
                  <input type="text" name='name' id='name' />
                  <button type="button" id="bt">Add</button>

                  <!-- <input type="submit" value="Create"  /> -->
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include ('layout/footer.ejs') %>
<script type="module" src="../js/home.js" ></script>
