<%- include ('layout/header.ejs') %>

<div class="login-form">
   <form method="post" action="/api/login">
      <input type="text" name="mail" class="mail" placeholder="Mail" />
      <input
         type="password"
         name="password"
         class="password"
         placeholder="Password"
      />
      <input type="submit" class="button" value="Sing in" />
   </form>
</div>
<%- include ('layout/footer.ejs') %>
