<div class="footer" id="footer">
    <p class="author">Author: Daniel Hlazunov</p>
    <div class="contacts">
       <!-- https://t.me/username  -->
       <a href="https://github.com/dragalur" class="item"><img src="../images/git.svg" alt="" /></a>
       <a href="https://telegram.me/Dragalur" class="item"
          ><img src="../images/telegram.svg" alt=""
       /></a>
       <a href="https://www.instagram.com/daniel.glazunov/" class="item"
          ><img src="../images/instagram.svg" alt=""
       /></a>
    </div>
 </div>
</body>
</html>